// white
$color-white-first: #ffffff;
$color-white-second: #f4f4f5;
$color-white-third: #e8e8ea;
$color-white-fourth: #f6f6f7;
$color-white-fifth: #dcdddf;

// gray
$color-gray-first: #bababf;
$color-gray-second: #a1a1aa;
$color-gray-third: #97989f;
$color-gray-fourth: #696a75;
$color-gray-fourth-transparent: #696a754d;
$color-gray-fifth: #52535f;
$color-gray-sixth: #3b3c4a;
$color-gray-ninth: #52525b;

// black
$color-black-first: #242535;
$color-black-second: #181a2a;
$color-black-second-transparent: #181a2a1f;
$color-black-third: #141624;
$color-black-fourth-transparent: #0000001f;

// blue
$color-blue: #4b6bfb;
$color-blue-transparent: #4b6bfb0d;
