.aboutTitle {
  color: var(--third-typography-color);
  font-weight: 600;
  font-size: 18px;
}

.aboutContent {
  margin-top: 12px;
  margin-bottom: 24px;

  color: var(--fourth-typography-color);
}

.aboutItemName {
  color: var(--third-typography-color);
  font-weight: 600;
}
