.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 32px 0;
  background-color: var(--first-bg-color);
  border-bottom: 1px solid var(--third-bg-color);

  transition: all 0.2s linear;

  @media (max-width: 780px) {
    flex-direction: column;
    gap: 20px;
  }
}

.headerActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  @media (max-width: 500px) {
    flex-direction: column;
    gap: 20px;
  }
}

.headerElements {
  display: flex;
  align-items: center;

  min-height: 32px;

  & *:first-child {
    flex: 1;
  }
}

.searchBarWrapper {
  margin-right: 40px;
}
