@use '@/shared/styles' as styles;

:root {
  @include styles.light-theme;
}

.dark-theme {
  @include styles.dark-theme;
}

body {
  background-color: var(--first-bg-color);

  color: var(--first-typography-color);

  transition: background-color 0.2s linear;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-32 {
  margin-bottom: 32px;
}
