.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  padding: 12px 20px;
  background-color: var(--permanent-first-tag-color);
  border-radius: 6px;

  font-weight: 500;
  color: var(--fifth-permanent-typography-color);

  &.transparent {
    background-color: transparent;
    color: var(--third-permanent-typography-color);
    border: 1px solid var(--first-permanent-bg-color);

    transition: color 0.2s linear;

    &:hover {
      color: var(--third-typography-color);

      & .buttonIcon {
        &.transparent {
          fill: var(--third-typography-color);
        }
      }
    }
  }

  &.small {
    font-size: 14px;
    padding: 10px 16px;

    & .buttonIcon {
      width: 14px;
      height: 14px;
    }
  }
}

.buttonIcon {
  fill: var(--fifth-permanent-typography-color);
  width: 18px;
  height: 18px;

  &.transparent {
    fill: var(--third-permanent-typography-color);

    transition: fill 0.2s linear;
  }
}
